.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    --indent: 24px;
    --element: 3;
    gap: 48px var(--indent);

    & .gallery-item {
        height: 300px;
        flex-basis: calc(100% - (var(--indent)*(var(--elements) - 1)) / var(--elements));
    }
}

.gallery-image {
    height: 100%;
    object-fit: cover;
    object-position: center;
}