#categories {
    max-width: 392px;
    margin: 0 auto;
    
    & h2 {
        margin-bottom: 16px;
    }
}

.item {
    margin-bottom: 24px;
    padding: 16px;
    background-color: #F6F6FE;
    border-radius: 8px;
}

.item ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.item ul > li {
    width: 360px;
    padding: 8px 16px;

    border: 1px solid #808080;
    border-radius: 4px;
}