.widget {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    max-width: 345px;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 0;

    p {
        margin: 0;
    }

    button.change-color {
        width: 148px;
        background-color: #4e75ff;

        &:hover, 
        &:focus {
        background-color: #6c8cff;
        }
    }
}